.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 4px;
}

.breadcrumb {
  color: var(--table-td-text); /* Subtle text in both modes */
}

.activeBreadcrumb {
  color: var(--text-color);  /* Primary text color */
  font-weight: bold;
}

.separator {
  margin: 0 5px;
  color: var(--table-td-text); /* Neutral separator color */
}
