.table {
  width: 100%;
  border-collapse: collapse;
}

.thead .tr{
  background: var(--table-head-bg);
  font-weight: bold;
}

.tr {
  border-bottom: 1px solid var(--table-border);
}
.tbody .tr:nth-child(even) {
  background-color:var(--table-tr-even-bg); /* Even rows */
}

.tbody .tr:nth-child(odd) {
  background-color: var(--table-tr-odd-bg); /* Odd rows */
}

.th,
.td {
  padding: 12px;
  border-bottom: 1px solid var(--table-border);
  text-align: left;
}

.th {
  font-weight: bold;
  color: var(--text-color);
  text-align: left;
  font-size: 14px;
}

.td {
  color: var(--table-td-text);
  text-align: left;
  font-size: 14px;
}

.th input[type="checkbox"],
.td input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.tfoot {
  background: #f1f1f1; /* Same as thead */
  font-weight: bold;
  color: var(--text-color);
}

.tfoot .td {
  font-weight: bold;
  color: var(--text-color);
  background-color: #f9f9f9;
}
