.table {
  width: 100%;
  border-collapse: collapse;
}

.thead {
  background: #f1f1f1;
  font-weight: bold;
}

.tr {
  border-bottom: 1px solid #ddd;
}

.tr:nth-child(even) {
  background: #f2f2f2;
}

.th,
.td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.th {
  font-weight: bold;
  color: #333;
  text-align: left;
  font-size: 14px;
}

.td {
  color: #555;
  text-align: left;
  font-size: 14px;
}

.th input[type="checkbox"],
.td input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.tfoot {
  background: #f1f1f1; /* Same as thead */
  font-weight: bold;
  color: #333;
}

.tfoot .td {
  font-weight: bold;
  color: #333;
  background-color: #f9f9f9;
}
