.certNumberBox {
  position: absolute;
  top: 8%;
  left: 9%;
  display: flex;
  gap: 0.5rem;
  font-size: 0.7vw;
  color: black;
}

.qrCodeBox {
  position: absolute;
  top: 6%;
  right: 10%;
  background: white;
  padding: 4px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.studentNameBox {
  position: absolute;
  top: 39%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.studentName {
  font-family: "Dutch801", serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.8vw;
  color: #cba65a;
  margin-bottom: 1%;
}
