.buttoDdrawer {
  max-width: 100vw;
  background-color: var(--bg-color);
  box-shadow: 0 2px 4px var(--box-shadow);
}
.sideDrawer {
  display: none;
}
.navbar {
  display: flex;
  align-items: center;
  width: 87.2%;
  margin: 0 auto;
  padding: 1.2vh 0;
  gap: 1.7vw;
}
.navItem {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s;
  gap: 0.6vw;
}

.navItem:hover {
  color: #007bff;
}

.icon {
  font-size: 1vw;
  margin-top: 5px;
}

.label {
  font-size: 0.9vw;
  font-weight: 600;
}

.chevron {
  font-size: 0.7vw;
  margin-top: 5px;
}

.active {
  color: #3b82f6;
}

@media screen and (max-width: 912px) {
  .buttoDdrawer {
    display: none;
  }
  .sideDrawer {
    display: flex;
    position: absolute;
    top: 70px;
    left: 0;
    width: 28vw;
    height: 100vh;
    background-color: var(--bg-color);
  box-shadow: 2px 0 10px var(--box-shadow); /* horizontal, vertical, blur, color */
    transition: transform 0.5s ease;
  }
  .cancel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 30px;
  }
  .open {
    transform: translateX(0px);
  }
  .close {
    transform: translateX(-275px);
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 83.2%;
  }
  .navItem {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s;
    gap: 0.6vw;
  }

  .navItem:hover {
    color: #007bff;
  }

  .icon {
    font-size: 1.8vw;
    margin-top: 5px;
  }

  .label {
    font-size: 1.6vw;
  }

  .chevron {
    font-size: 1.2vw;
  }

  .active {
    color: #3b82f6; /* blue-500 */
  }
}
@media screen and (max-width: 600px) {
  .buttoDdrawer {
    display: none;
  }
  .cancel {
    font-size: 15px;
  }

  .icon {
    font-size: 1.8vw;
  }

  .label {
    font-size: 1.6vw;
    margin-top: 4px;
  }

  .chevron {
    font-size: 1.2vw;
  }
}
