/* src/components/Navbar/Navbar.module.css */
.container {
  background-color: var(--navbar-bg);
  color: var(--navbar-color);
  max-width: 100vw;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 89.7%;
  margin: 0 auto;
  height: 55px;
  /* padding: 0 1.2rem 0 0; */
  color: var(--navbar-text-color);
  flex-wrap: nowrap;
}
.menus {
  display: none;
}
.roundLogo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.logo {
  font-weight: bold;
  font-size: 1vw;
}
.left {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
}
.right {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: nowrap;
}
.iconBox {
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
}
.iconBox:hover {
  background-color: rgba(220, 220, 220, 0.262);
}
.icon {
  font-size: 1.5rem;
  color: var(--navbar-text-color);
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2.2vh 0.5vw;
  margin-left: 15px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.profile h4 {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--navbar-text-color);
}

.profile p {
  margin: 0;
  font-size: 0.7rem;
  color: var(--navbar-text-color);
  font-weight: 500;
}
@media screen and (max-width: 1280px) {
  .navbar {
    width: 87.7%;
  }
  .profile {
    padding: 2.2vh 0vw;
  }
}
@media screen and (max-width: 1024px) {
  .roundLogo {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 912px) {
  .left {
    gap: 15px;
  }
  .menus {
    display: flex;
    font-size: 1.4rem;
  }
  .menuHide {
    visibility: hidden;
  }
  .roundLogo {
    width: 50px;
    height: 50px;
  }
  .logo {
    /* font-weight: bold; */
    font-size: 1.2rem;
  }
  .icon {
    font-size: 1.5rem;
  }

  .profile {
    padding: 1.3vh 2vw;
  }
  .avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  .profile h4 {
    font-size: 1.3rem;
  }
  .profile p {
    font-size: 1.3rem;
  }
  .avatarPlaceholder {
    width: 50px;
    height: 50px;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 600px) {
  .left {
    gap: 8px;
  }
  .menus {
    display: flex;
    font-size: 1rem;
  }
  .menus {
    display: flex;
    font-size: 0.8rem;
  }
  .logo {
    font-size: 7.5px;
  }
  .roundLogo {
    width: 30px;
    height: 30px;
    /* border-radius: 50%;
  object-fit: cover; */
  }

  .icon {
    font-size: 13px;
  }
  .iconBox {
    padding: 4px;
  }
  .profile {
    padding: 1vh 1vw;
    margin-left: 0;
    background-color: hsla(0, 0%, 100%, 0);
  }
  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .avatarPlaceholder {
    width: 30px;
    height: 30px;
    font-size: 3vw;
  }
  .profile h4 {
    font-size: 0.5rem;
  }
  .profile p {
    font-size: 0.5rem;
  }
}
